@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* colors */
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --light: hsl(0, 0%, 100%);

  /* typography */
  --font-size: 18px;

  /* style */
  --radius: 12px;

  /* font */
  --font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*====
GLOBAL STYLING
====*/
/* 
:outline {
  display: none;
} */

body {
  background-color: var(--light);
  font-family: var(--font-family);
}

/*===
TYPOGRAPHY
===*/
.title {
  color: var(--light);
  font-weight: 400;
}

/*===
LAYOUT
===*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-image: url(./images/pattern-bg.png);
  padding: 1rem 0 8rem 0;
  position: relative;
}

.header .container {
  flex-direction: column;
  gap: 0.5rem;
}

form {
  width: min(90%, 500px);
}

.result-modal {
  background: var(--light);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: min(90%, 900px);
  margin: 0 auto;
  padding: 1rem;
  border-radius: var(--radius);
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% + 1rem);
  z-index: 999;
}

.result-modal.display {
  display: block;
}

@media (min-width: 48em) {
  .header {
    padding: 1rem 0 6rem 0;
  }

  .result-modal {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem 1rem;
    top: calc(50% + 2rem);
  }

  .result-modal div:not(:last-child) {
    border-right: 1px solid var(--dark-gray);
    padding-right: 1.5rem;
  }
}

.result-modal div {
  text-align: center;
}

.result-modal p {
  color: var(--dark-gray);
  margin-bottom: 0.3rem;
}

.result-modal h3 {
  color: var(--very-dark-gray);
  font-weight: 500;
}

#map {
  height: 400px;
}

/*====
COMPONENTS
===*/
.address-input,
.submit-btn {
  padding: 1rem;
  outline: none;
  border: none;
}

.address-input {
  flex: 1;
  font-size: 1rem;
  font-family: inherit;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

::placeholder {
  color: var(--dark-gray);
  font-size: 0.9rem;
}

.submit-btn {
  background-color: var(--very-dark-gray);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1.18rem;
}

@media (hover: hover) {
  .submit-btn:hover {
    background-color: var(--dark-gray);
  }
}
